.header {
    align-self: self-start;
    margin-left: 20px;
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
}

.noDataIcon {
    opacity: 0.5;
  }
  
  .noDataTitle {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  
  .noDataMessage {
    font-size: 14px;
    opacity: 0.7;
    line-height: 1.5;
  }