@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.container {
  width: calc(100% - 30px);
  display: flex;
  flex-flow: row;
  gap: 15px;
  align-items: flex-end;
}

.searchInput {
  display: flex;
  flex: 1;
  min-width: 200px;
  max-width: 300px;
  color: #fff;
}

.typeContainer {
  flex: 1;
  min-width: 100px;
  max-width: 150px;
}

.startDate {
    display: flex;
    flex: 1;
    min-width: 100px;
    max-width: 200px;
    height: 100%;
    
}

.endDate {
    display: flex;
    flex: 1;
    min-width: 100px;
    max-width: 200px;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 28px;
  border: 1px solid rgb(154, 154, 154) ;
  background: transparent;
  color: #fff;
  font-size: 14px;
  max-height: 38px;
  &::placeholder{
    color: #ffffff;
  }
}

.button {
  padding: 10px 20px;
  border-radius: 28px;
  border: 1px solid  rgb(154, 154, 154);
  background: transparent;
  color: #fff;
  font-size: 14px;
  height: 40px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

.applyButton {
  @extend .button;
  background: #007AFF;
  border: 0;
  font-weight: 500;


  &:hover {
    background:#2d93ff;
  }
} 